In [ ]:
#Task 01(a):
for i in range(24,-6-1,-6):
    if i==-6:
        print(i,end="")
    else:
        print(i,end=",")

24,18,12,6,0,-6

In [ ]:
#Task 01(b):
for i in range(-10,20+1,5):
    if i==20:
        print(i,end="")
    else:
        print(i,end=",")

-10,-5,0,5,10,15,20

In [ ]:
#Task 01(c):
for i in range(18,63+1,9):
    if i==63:
        print(i,end="")
    else:
        print(i,end=",")

18,27,36,45,54,63

In [ ]:
#Task 01(d)
for i in range(18,63+1,9):
    if i%2!=0:
        i= i*-1
        if i==-63:
            print(i,end="")
        else:
            print(i,end=",")
    else:
        print(i,end=",")

18,-27,36,-45,54,-63

In [ ]:
#Task 02:
name = input("Please enter your favourite car name:")
num = int(input("Please enter a number: "))
for i in range(num):
    print(name)

Please enter your favourite car name:Toyota
Please enter a number: 2
Toyota
Toyota

In [ ]:
#Task 03:
sum = 0
for i in range(600+1):
    if i%7==0 and i%9==0:
        sum+=i
print(sum)

2835

In [ ]:
#Task 04:
sum = 0
for i in range(601):
    if i%7==0 and i%9!=0:
        sum+=i
    elif i%7!=0 and i%9==0:
        sum+=i
print(sum)

39814

In [ ]:
#Task 05:
for i in range(10,50+1):
    if i%2!=0:
        print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#Task 06:
num = int(input())
sum = 0
for i in range(num+1):
    if i%2==0:
        sum+=-1*(i**2)
    else:
        sum+=(i**2)
print(sum)

5
15

In [ ]:
#Task 07:
sum = 0
count = 0
for i in range (10):
    num = int(input())
    if num%2!=0:
        sum+=num
        count+=1
print("The total of the odd number is",sum,"and the average is",sum/count)

1
2
3
4
5
6
7
8
9
10
The total of the odd number is 25 and the average is 5.0

In [ ]:
#Task 08:
num = int(input())
sum = 0
for i in range(num+1):
    if i%7==0:
        sum+=i
print(sum)

50
196

In [ ]:
#Task 09:
sum = 0
for i in range (5):
    num = int(input())
    sum+=num
    print(sum)

1
1
2
3
3
6
4
10
5
15

In [ ]:
#Task 10:
num = int(input())
while num>0:
    if num//10==0:
        print(num%10,end='')
    else:
        print(num%10,end=',')
    num//=10

1234
4,3,2,1

In [ ]:
# Task 11
num = int(input())
count = 0
while num>0:
    num= num//10
    count+=1
num//=10
print(count)

456454
6

In [ ]:
#Task 12:
f = int(input("Please enter a numbre: "))
count = 0
digit = len(str(f))
print(digit)
while (f>count):
    num = f//10**(digit-count-1)
    f = f%10**(digit-count-1)
    if count==digit-1:
        print(num,end=" ")
    else:
        print(num,end=",")
    count+=1

Please enter a numbre: 1234
4
1,2,3,4

In [ ]:
#Task 13:
num = int(input("Please enter a number: "))
n = 0
for i in range(1,num+1):
    if (num%i==0):
        print(i)
        n= n+1
print('Total devisors: ',n)

Please enter a number: 6
1
2
3
6
Total devisors:  4

In [ ]:
#Task 14:
num = int(input("Please enter a number: "))
sum = 0
for i in range(1,num):
    if (num%i==0):
        sum = sum+i
if (sum==num):
    print("This is a perfect number.")
else:
    print("This is not a perfect number.")

Please enter a number: 6
This is a perfect number.

In [ ]:
#Task 15:
num = int(input("Please enter a number: "))
for i in range(2,num):
    if (num%i==0):
        print(str(num)+" is not a prime number.")
        break
else:
    print(str(num)+" is a prime number.")

Please enter a number: 10
10 is not a prime number.

In [ ]:
#Task 16:
y = int(input( ))
sum = 0
for i in range(1,y+1):
    z = int(input())
    sum +=z
    if i==1:
        max = z
        min = z
    elif z>max:
        max = z
    elif z<min:
        min=z
avg = sum/y
print("Maximum number is: ",max)
print("Minimum number is: ",min)
print("Average is: ",avg)

3
10
20
30
Maximum number is:  30
Minimum number is:  10
Average is:  20.0

In [ ]:
#Task 17:
num = int(input("N= "))
for i in range(1,num+1):
    for m in range (1,num+1):
        print("+",end=" ")
    print()

N= 5
+ + + + +
+ + + + +
+ + + + +
+ + + + +
+ + + + +

In [ ]:
#Task 18:
num = int(input(" "))
num_2 = int(input(" "))
for i in range(1,num+1,1):
    print( )
    for i in range (1,num_2,1):
        print(i,end=" ")

 4
 6

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
#Task 19:
number = int(input(" "))
for i in range(1,number+1,1):
    for m in range (1,i+1,1):
        print(m,end=" ")
    print()

 4
1
1 2
1 2 3
1 2 3 4

In [ ]:
#Task 20:
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
#Task 21:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
#Task 22:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
#Task 23:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
#Task 24:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85

In [ ]:
#Task 25:
num = int(input())
a = 0
b = 1
for i in range(1,num+1):
    print(a,end=' ')
    i = a+b
    a = b
    b = i

10
0 1 1 2 3 5 8 13 21 34

In [ ]:
a = "Done"
for i in range (0,10,1):
    print(a,end="        ")

Done        Done        Done        Done        Done        Done        Done        Done        Done        Done

In [ ]:
num = int(input())
a = 0
b = 1
while a<=num:
    print(a,end=' ')
    i = a+b
    a = b
    b = i

10
0 1 1 2 3 5 8

In [ ]:
num = int(input())
while num>0:
    rem = num%10
    print(rem,end='')
    num//=10

123
321