In [ ]:
#Task 01:
l1 = []
for i in range(5):
    x = input()
    l1.append(x)
    print('Numbers in the list:',l1)

3
Numbers in the list: ['3']
5
Numbers in the list: ['3', '5']
-11
Numbers in the list: ['3', '5', '-11']
34
Numbers in the list: ['3', '5', '-11', '34']
0
Numbers in the list: ['3', '5', '-11', '34', '0']

In [ ]:
#Task 02:
l1 = [10, 20, 24, 25]
if len(l1)<4:
    print('Not possible')
new_l1 = l1[2:len(l1)-2]
print(new_l1)

[]

In [ ]:
#Task 03:
l1 = []
num = 5
for i in range(num):
    x = int(input())
    l1.append(x)
    y = l1[-1::-1]
print('Printing values from the list in reverse order:')
for i in y:
    print(i)

5
-5
100
1
0
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
#Task 04:
l1 = [3, 5, 1, 6]
x = []
for i in l1:
    x.append(i**2)
print(x)

[9, 25, 1, 36]

In [ ]:
#Task 05:
l1 = ["hey", "there", "", "what's", "", "up", "", "?"]
x = []
for i in l1:
    if i != "":
        x.append(i)
print(x)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task 06:
import math
l1 = input()
l1 = l1.split(",")
my_list = []
index = 0
for i in l1:
    my_list.append(int(i))
print('My list: ',my_list)
max=-math.inf
for i in my_list:
    if i>=max:
        max=i
index=my_list.index(max)
print(f"largest number in the list is{max} which was found in index {index}")

7, 13, 2, 10, 6, -11, 0
My list:  [7, 13, 2, 10, 6, -11, 0]
largest number in the list is13 which was found in index 1

In [ ]:
#Task 07:
List_one = [1, 4, 7, 5]
List_two = [6, 1, 3, 9]
List_one[-1:]=List_two
print(List_one)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#Task 8
list_one=[1,2,3,4,5,6,7,8,9]
list_two=[10,11,12,13,-14,-15,-16]
list_three=[]
for i in list_one:
    if i%2==0:
        list_three.append(i)
for j in list_two:
    if j%2==0:
        list_three.append(j)
print(list_three)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task 9
list_1=[]
mod_list=[]
string=input("")
l=string.split(" ")
list_1.extend(l)
print("original list",list_1)
for i in list_1:
  i=int(i)
  if i%2!=0:
    mod_list.append(i)
print("modified list:",mod_list)

7 12 4 55 96 2 11 61 33 42
original list ['7', '12', '4', '55', '96', '2', '11', '61', '33', '42']
modified list: [7, 55, 11, 61, 33]

In [ ]:
#Task 10
l1=input()
l2=l1.split(",")
l3=[]
for i in l2:
  l3.append(int(i))
print(f"Input list: {l3}")
l4=[]
for i in l3:
  if i not in l4:
    l4.append(i)
print(f"Modified list: {l4}")

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task 11
list_one=[1,4,3,2,6]
list_two=[8,7,6,9]
flag=False
while True:
    for i in list_one:
        if i in list_two:
            flag=True
        break
    print(flag)
    break

False

In [ ]:
#Task 12:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
#Task 13:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
#Task 14:

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
#Task 15:

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

In [ ]:
l1 = []
for i in range(5):
    num= int(input())
    l1.append(num)
    print('Numbers in the list:',l1)

3
Numbers in the list: [3]
5
Numbers in the list: [3, 5]
34
Numbers in the list: [3, 5, 34]
-11
Numbers in the list: [3, 5, 34, -11]
0
Numbers in the list: [3, 5, 34, -11, 0]

In [ ]:
num = input()
num2= num.split(', ')
lst1 = []
if len(num2)<4:
    print('Not possible.')
else:
    for i in num2:
        lst1.append(int(i))
print(lst1)

10, 20, 24, 25, 26, 35, 70
[10, 20, 24, 25, 26, 35, 70]

In [ ]:
lst1 = []
for i in range(5):
    num = int(input())
    lst1.append(num)
    y=lst1[-1::-1]
print('Printing the value from the reverse order:')
for i in y:
    print(i)

5
6
7
8
9
Printing the value from the reverse order:
9
8
7
6
5

In [ ]:
given = [3, 5, 1, 6]
new = []
for i in given:
    new.append(i**2)
print(new)

[9, 25, 1, 36]

In [ ]:
given = ["hey", "there", "", "what's", "", "up", "", "?"]
new = []
for i in given:
    if i!="":
        new.append(i)
print('Orginal List: ',given)
print('Modified List: ',new)

Orginal List:  ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List:  ['hey', 'there', "what's", 'up', '?']

In [ ]:
import math
given = input()
new = []
index = 0
given=given.split(', ')
for i in given:
    new.append(int(i))
max= -math.inf
for i in new:
    if i>=max:
        max=i
index = new.index(max)
print('My list:',new)
print(f'Largest number in the list is {max} which was found at index {index}.')

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

In [ ]:
import math
given = input()
given = given.split(',')
new = []
index = 0
for i in given:
    new.append(int(i))
math.inf
for i in new:
    if i>=max:
        max = i
index = new.index(max)
print('My list: ',new)
print(f'Largest number in the list is {13} which was found in index {index}.')

7, 13, 2, 10, 6, -11, 0
My list:  [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found in index 1.

#Task 07

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1[-1:]=lst2
print(lst1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1[len(lst1)-1:]=lst2
print(lst1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1[-1]=lst2
print(lst1)

[1, 2, 3, 4, [6, 7, 8, 9, 10]]

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1[len(lst1)-1]=lst2
print(lst1)

[1, 2, 3, 4, [6, 7, 8, 9, 10]]

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1[len(lst1):]=lst2
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]