In [ ]:
#Task 01:
def even_checker(num):
    if (num%2)==0:
        print("Even")
    else:
        print("Odd")
even_checker(int(input()))

10
Even

In [ ]:
#Taskd 02:
def fibonacci(number):
    a = 0
    b = 1
    while a<=number:
        print(a,end=" ")
        i = a+b
        a = b
        b = i
fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#Task 03:
def foo_moo(x):
    if (x%2==0) and (x%3==0):
        return "FooMoo"
    elif (x%3==0):
        return "Moo"
    elif (x%2==0):
        return "Foo"
    return "Boo"
print(foo_moo(5))

Boo

In [ ]:
#Task 04:
def function_nam(x):
    up = 0
    low = 0
    for x in x:
        if x>="A" and x<="Z":
            up = up+1
        elif x>="a" and x<='z':
            low = low+1
        else:
            pass
    print("Number of upper alphabers are: ",str(up))
    print("Number of lower alphabet are: ",str(low))
function_nam('The Quick Sand Man')

Number of upper alphabers are:  4
Number of lower alphabet are:  11

In [ ]:
#Task 05:
def calculate_tax(age,salary,designation):
    tax = 0
    if (age<18):
        return tax
    elif (designation.lower()=='President'):
        return tax
    elif (salary<10000):
        return tax
    elif (salary>=10000 and salary<=20000):
        tax = salary*(0.05)
        return tax
age = int(input())
salary = float(input())
designation = input()
tax = calculate_tax(age,salary,designation)
print(tax)

16
20000
student
0

In [ ]:
#Task 06:
def function_name(days):
    year = days//365
    month = (days%365)//30
    day = (days%365)%30
    print("{}years,{}months and{}days".format(year,month,day))
days= int(input())
function_name(days)

30000
82years,2months and10days

In [ ]:
#Task 07:
def show_palindrome(num):
    string= ""
    for i in range(1,num+1):
        print(i,end=" ")
    for i in reversed(range(1,num)):
        print(i,end=" ")
show_palindrome(3)
print()

1 2 3 2 1

In [ ]:
#Task 08:
def show_palindromic(n):
    out = " "
    for i in range(1,n+1):
        out += str(i)+" "
    for j in range (n-1,0,-1):
        out+=str(j)+" "
    return out
def show_palindromic_triangle(n):
    for i in range (1,n+1):
        print(" "*(n-i)*2),show_palindromic
show_palindromi_triangle(5)

In [ ]:
def show_palindrome_triangle(n):
    for i in range(n):
        print(2*(n-i-1)*" ",end=" ")
        for j in range(i+1):
            print(j+1,end=" ")
        for j in range(i,0,-1):
            print(j,end=" ")
        print( )
show_palindrome_triangle(5)

         1
       1 2 1
     1 2 3 2 1
   1 2 3 4 3 2 1
 1 2 3 4 5 4 3 2 1

In [ ]:
def remove_characters(sentence, position):
    new_sentence = sentence[0]
    removed_characters = ""
    for i in range(1, len(sentence)):
        if i % position != 0:
            new_sentence += sentence[i]
        else:
            removed_characters += sentence[i]
    new_sentence += removed_characters
    return new_sentence

# Example usage
input_sentence = input("Enter a sentence: ")
input_position = int(input("Enter a position: "))
new_sentence = remove_characters(input_sentence, input_position)
print(new_sentence)

In [ ]:
#Task 09:
def area_circumference_generator(rad):
    area = 3.1416*(rad*rad)
    circa =  2*3.1416*rad
    return area,circa
rad=float(input("Enter radius: "))
area, circa = area_circumference_generator (rad)
print(f'({area} , {circa})')
print("Area of the circle is", area,"and circumference is ",circa)

Enter radius: 1.5
(7.0686 , 9.4248)
Area of the circle is 7.0686 and circumference is  9.4248

In [ ]:
#Task 14:
def remove(sentence, position):

In [ ]:
#Task 15:
def calculate_total_price (order, location='Dhanmondi'):
    prices = {"Rice": 105, "Potato": 20, "Chicken": 250, "Beef": 510, "Oil": 85}
    total_price = 0
    for item in order:
        if item in prices:
            total_price+=prices[item]
    if location=='Dhanmondi':
        delivery = 30
    else:
        delivery = 70
    total_price+=delivery
    print(total_price)
calculate_total_price (['Rice','Beef','Rice'])

750

In [ ]:
#Task 07:
def show_palindrome(num):
    for i in range(1,num+1):
        print(i,end='')
    for i in reversed (range(1,num)):
        print(i,end='')
show_palindrome(5)

123454321

In [ ]:
#Task 06:
def number_of_days(days):
    year = days//365
    month = (days%365)//30
    day = (days%365)%30
    print(f'{year} years, {month} months, {day} days')
days = int(input())
number_of_days(days)

4330
11 years, 10 months, 15 days

In [ ]:
def calculate_tax(age,salary,designation):
    tax = 0
    if (age<18):
        return tax
    elif (designation.lower()=='President'):
        return tax
    elif (salary<10000):
        return tax
    elif (salary>=10000 and salary<=20000):
        tax = salary*(0.05)
        return tax
age = int(input())
salary = float(input())
designation = input()
tax = calculate_tax(age,salary,designation)
print(tax)

In [ ]:
#Task 07:
def calculate_tax(age,salary,designation):
    tax = 0

In [ ]:
#Task 01:
def even_checker(num):
    if num%2==0:
        print('Even')
    else:
        print('Odd')
even_checker(3)

Odd

In [ ]:
#Task 02:
def fibonacci(number):
    a = 0
    b = 1
    while a<=number:
        print(a,end=',')
        i = a+b
        a = b
        b = i
fibonacci(10)

0,1,1,2,3,5,8,

In [ ]:
#Task 03:
def foo_moo(number):
    if number%2==0 and number%3==0:
        print('FooMoo')
    elif number%2==0:
        print('Foo')
    elif number%3==0:
        print('Moo')
    else:
        print('Boo')
foo_moo(9)

Moo

In [ ]:
#Task 04:
def function_name(string):
    lower = 0
    upper = 0
    for i in string:
        if 97<=ord(i)<=122:
            lower+=1
        elif 65<=ord(i)<=90:
            upper+=1
    print('No. of uppercase character: ',upper)
    print('No. of lowercase character: ',lower)
function_name('The quick Sand Man')

No. of uppercase character:  3
No. of lowercase character:  12

In [ ]:
#Task 05:
def calculate_tax(age, salary, designation):
    tax = 0
    if age<18:
        return tax
    elif designation.lower() == 'president':
        return tax
    elif salary<10000:
        return tax
    elif 10000 <= salary<= 20000:
        tax+= salary*0.05
        return tax
    elif salary>20000:
        tax+= salary*0.1
        return tax

age = int(input())
salary = int(input())
designation = input()
tax = calculate_tax(age, salary, designation)
print(tax)

20
22000
rf
2200.0

In [ ]:
#Task 06:
def function_name(days):
    year = days//365
    months = (days%365)//30
    days = (days%365)%30
    print(f'{year} year, {months} months and {days} days')
days = int(input())
function_name(days)

4330
11 year, 10 months and 15 days